@media (max-width: 1199px) and (min-width:992px){ 
    

.header{display: none;}
.navbar-1{
    position: fixed;
    top: 0px;
    background-color: white;}


  .img-jumbo{background: url(
      /img/3.webp
  )no-repeat center center/cover;
  margin-top: 58px;
  height: 350px;

}
.card{width: 25rem; margin-top: -60px}

.btn{display: flex;
justify-content: center;
align-items: center;
}

article{background-color:rgba(126, 214, 223,0.2) ;}

.container .row .col-md-12 h1{font-size: 20px;
   margin: 10px;
}

.container .row .col-md-12 h1 i{padding: 0px 10px;}

section{background-color: rgba(126, 214, 223,0.2);}

   .container .row .col-md-7{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
     
   }

   .container .row .col-md-5{
       display: flex;
       align-items: center;
       justify-content: center;
       padding:15px;
     
    }

   
   .box-2{
       display: flex;
       flex-flow: wrap-reverse;
       
   }

   img{width: 400px;
       height: 300px;

       border-radius: 5px;}

       footer{background-color: rgb(8, 8, 8);
       padding: 20px;}

       .footer-1 h6{text-align: cente;
       margin: 0px 30px;}

       .footer-1 ul{list-style: none;
       }

       .footer-1 ul li a{color: grey;
           font-size: 12px;
       line-height: 20px;
       
       text-decoration: none;}

       .footer-1 ul li a:hover{text-decoration: underline;
       color: white;}

       .border-1{border-right: 1px solid white;}
 }

