@media (min-width: 1200px){ 

   

.navbar-1{
    position: sticky;
    top: 0px;
    background-color: white;}

.col-md-4 header{font-size: 13px;}

 .col-md-8 header{font-size: 13px;}

 

 .col-md-8 header form input { width: 200px;
    height: 25px;
    margin: 5px auto;}
.col-md-8 header form input{display: non;}

.col-md-8 header form button{width: 70px;
    height: 25px;
    margin: 5px auto;
    display: flex;
align-items: center;
justify-content: center;
}

.col-md-8 header form button:hover
 input{display: none;
   }

   .img-jumbo{background: url(/img/3.webp)no-repeat center center/cover;
    height: 400px;

}
.jumbotron h1{
    
    font-size: 4rem;
    
}
.card{width: 25rem; margin-top: -60px;}

.btn{display: flex;
justify-content: center;
align-items: center;}

article{background-color:rgba(126, 214, 223,0.2) ;}

.container .row .col-md-12 h1{font-size: 25px;
    margin: 10px;
}

.container .row .col-md-12 h1 i{padding: 0px 10px;}

section{background-color: rgba(126, 214, 223,0.2);}

    .container .row .col-md-7{
       display: flex;
       align-items: center;
       justify-content: center;
       padding: 20px;
       
    }

    .container .row .col-md-5{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        
     }

    
    .box-2{
        display: flex;
        flex-flow: wrap-reverse;
        
    }

    img{width: 470px;
        height: 300px;

        border-radius: 5px;}

        footer{background-color: rgb(8, 8, 8);
        padding: 20px;}

        .footer-1 h6{text-align: cente;
        margin: 0px 30px;}

        .footer-1 ul{list-style: none;
        }

        .footer-1 ul li a{color: grey;
            font-size: 12px;
        line-height: 20px;
        
        text-decoration: none;}

        .footer-1 ul li a:hover{text-decoration: underline;
        color: white;}

        .border-1{border-right: 1px solid white;}
        }

        